!!! 5
%html
  %head
    = csrf_meta_tag
    /[if lt IE 9]
      = javascript_include_tag 'html5'
    = javascript_include_tag 'jquery.min', 'rails', 'application'
    = javascript_include_tag 'jquery-ui-1.8.13.custom.min'
    = stylesheet_link_tag 'grid.css', :media => 'screen, projection'
    = stylesheet_link_tag 'text.css', :media => 'screen, projection'
    = stylesheet_link_tag 'application.css', :media => 'screen, projection'
    = stylesheet_link_tag 'clear_grid'
    /[if lt IE 7]
      = stylesheet_link_tag 'ie6.css', :media => 'screen, projection'
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Reenie+Beanie:regular"
    = stylesheet_link_tag "sunny/jquery-ui-1.8.13.custom"
    %title Sticky Stacks
  %body.container_12
    %header#page_header.grid_12
      %h1
        =link_to "Sticky Stacks", root_url        
      .new_stack.grid_3
        = link_to 'New Stack', new_stack_path, :class => "button", :remote => true
      %nav
        %ul
          =render 'shared/navigation'
    .clear
    %section#content.grid_12
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
      = yield
    .clear